@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', sans-serif !important;
  }
}

@theme {
  --font-*: initial;
  --font-outfit: Outfit, sans-serif;

  --z-index-1: 1;
  --z-index-9: 9;
  --z-index-99: 99;
  --z-index-999: 999;
  --z-index-9999: 9999;
  --z-index-99999: 99999;
  --z-index-999999: 999999;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-popover {
  z-index: 9999 !important;
}

.ant-modal {
  border-radius: 20px;
  overflow: hidden;
}

.ant-modal-content {
  border-radius: 20px;
  overflow: hidden;
}

.ant-dropdown {
  z-index: 9999 !important;
}

#text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  min-height: 60px;
  z-index: 49;
}

/* theme */
@layer base {
  :root {
    --color-bg: 246 246 246;
    --color-coverImage: 229 231 234;
    --color-primary: 255 255 255;
    --color-message1: 244 242 240;
    --color-message2: 0 0 0;
    --color-border: 213 213 213;
    --color-bgSearch: 240 242 245;
    --color-secondary: 255 255 255;
    --color-ascent1: 0 0 0;
    --color-ascent2: 89 91 100;
    --color-ascent3: 255 255 255;
    --color-standard: 255 255 255;
    --color-bluePrimary: 4 68 164;
    --color-hoverItem: 243 244 246;
  }
  [data-theme="dark"] {
    --color-bg: 10 10 10;
    --color-coverImage: 51 51 52;
    --color-primary: 24 24 24;
    --color-message1: 0 0 0;
    --color-message2: 244 242 240;
    --color-bgSearch: 24 24 24;
    --color-border: 45 45 45;
    --color-secondary: 47 45 48;
    --color-ascent1: 255 255 255;
    --color-ascent2: 164 161 162;
    --color-ascent3: 0 0 0;
    --color-standard: 0 0 0;
    --color-hoverItem: 31 41 55;
  }
}

.container {
  cursor: grab;
  touch-action: none;
}

.ant-spin-dot-item {
  @apply bg-bgStandard !important;
}

.ant-empty-description {
  @apply text-ascent-1 !important;
}


.container.horizontal {
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.customized-modal .ant-modal-content {
  padding: 0;
  border-radius: 20px;
}

.container.vertical {
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

.item {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
