server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/users
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password: root
  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017/identity-service?authSource=admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  kafka:
    bootstrap-servers: localhost:9094
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 804082710912-cc625cbghektau5j0ce1j38pld82f77r.apps.googleusercontent.com
            client-secret: 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
            scope: profile,email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 240000
  refreshable-duration: 720000

app:
  services:
    profile: "http://localhost:8081/profile"
    notification: "http://localhost:8082/notification"
    post: "http://localhost:8083/post"

giphy:
  api:
    key: sbkPyTQSXMX4q1T9SkFWuWY8yILpjM5d

cloud:
  aws:
    credentials:
      access-key: AKIA6GBMBKOW3YMI5YEQ
      secret-key: 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
    region:
      static: us-east-2
    stack:
      auto: false

application:
  bucket:
    name: imgpost-2